<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Título</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div>
        <a th:href="@{cliente/inicio}">Ingresar Cliente</a>
        <a th:href="@{/organizador/iniciar}">Ingresar Organizador</a>
        <a th:href="@{propietario/inicio}">Ingresar Propietario</a>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
